@import "tailwindcss";

.resizer {
  width: 5px;
  height: 100%;
  background: transparent;
  position: absolute;
  right: 0;
  top: 0;
  cursor: col-resize;
  user-select: none;
}

.resizer:hover {
  background: gray;
}

.isResizing {
  background: blue;
  opacity: 1;
}
